
@{
    ViewBag.Title = "RPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background-image:url(../img/RPA.jpg)">
            <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
                <h1>RPA Services</h1>
                <h2>Your Trusted Partner for RPA Services</h2>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
        </section>
        <!-- End Hero -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-end">
                    <div class="col-lg-11">
                        <div class="row justify-content-end">

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Happy Clients</p>
                                    <p>We keep good company</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtext"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Certified Consultants</p>
                                    <p>Quality Assured</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Years of experience</p>
                                    <p>Going Strong</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Referenceable Customers</p>
                                    <p>Value Assured</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
                        <img src="~/img/about.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
                    </div>

                    <div class="col-lg-6 pt-3 pt-lg-0 content">

                        <h3>Our RPA Service Offerings:</h3>
                        @*<p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
        </p>*@
                        <ul>
                            <li><i class="bx bx-check-double"></i> Enterprise Advisory</li>
                            <li><i class="bx bx-check-double"></i> Bot Development</li>
                            <li><i class="bx bx-check-double"></i> Bot Run & Maintain Services</li>
                        </ul>
                        <p>
                            At Texellent, we work with our customers to build innovative solutions for their automation requirements and are committed towards their success. Our professionals have leveraged their domain expertise on various business functions and RPA tools like UiPath, Blue Prism, Automation Anywhere and Worksoft.
                        </p>
                    </div>

                </div>

            </div>
        </section>
        <!-- End About Section -->
        <!-- ======= About Boxes Section ======= -->
        <section id="about-boxes" class="about-boxes">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Services</h2>
                    <p>RPA Use Cases</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="~/img/Treasury Automation2.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-treasure-map-line"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Treasury Automation</a></h5>
                                <p class="card-text">Automate and publish dashboard by combining budget/forecast amount with cash available in bank account i.e. treasury department can take real time decision on cash position on daily basis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="~/img/GST Invoice Processing.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-bill-line"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Invoice Processing</a></h5>
                                <p class="card-text">Automate complete P2P cycle of invoice processing i.e. supplier submits invoices and accounting is done in customer ERP system. Capability of our BOT is to check/validate vendor and open POs compliances.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <img src="~/img/Bank Reconciliation.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-bank-fill"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Bank Reconciliation</a></h5>
                                <p class="card-text">Automate the bank reconciliation i.e. bank submits bank statements and then bank reconciliation is done, automate cash application process i.e. apply the cash payment and receipts to GL in AR, AP or recon module.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="~/img/Journal Entry Automation.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-brush-4-line"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Journal Entry Automation</a></h5>
                                <p class="card-text">Automate and publish dashboard by combining budget/forecast amount with cash available in bank account i.e. treasury department can take real time decision on cash position on daily basis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="~/img/Digital Contract Management.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-calendar-check-line"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Digital Contract Management</a></h5>
                                <p class="card-text">Automate complete P2P cycle of invoice processing i.e. supplier submits invoices and accounting is done in customer ERP system. Capability of our BOT is to check/validate vendor and open POs compliances.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <img src="~/img/T&E - GST Credit.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="ri-movie-2-line"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">T&E Process</a></h5>
                                <p class="card-text">Automate the bank reconciliation i.e. bank submits bank statements and then bank reconciliation is done, automate cash application process i.e. apply the cash payment and receipts to GL in AR, AP or recon module.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <hr />
        </section>
        <!-- End About Boxes Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h1 style="color: #5c8eb0; text-align: center;">  Why choose Texellent for RPA Services?</h1>
                    <p style="font-size:small; font-style:normal;text-align:center">We have the passion, vision and an execution capability to remain ahead of our customers’ evolving needs. We are a solution-oriented company that brings the uniqueness in our approach. Through this approach, we are committed to delivering solutions in a flexible and cost-effective manner.</p>
                </div>

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-3">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <i class="ri-gps-line"></i>
                            <h4 class="d-none d-lg-block">Certified Automation Consultants</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <i class="ri-body-scan-line"></i>
                            <h4 class="d-none d-lg-block">Domain Expertise</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <i class="ri-sun-line"></i>
                            <h4 class="d-none d-lg-block">Multi-disciplined Practice</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                            <i class="ri-store-line"></i>
                            <h4 class="d-none d-lg-block">Flexible and Responsive</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                @*<h3> </h3>
                                <p class="fst-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>*@
                                <ul>
                                    <li><i class="ri-check-double-line"></i>Texellent team developed deep expertise in various third-party RPA tools along with certifications to validate their competency level.</li>
                                    <li><i class="ri-check-double-line"></i> This results in quality output and best practice incorporation for our customers.</li>
                                    @*<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>*@
                                </ul>
                                @*<p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>*@
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/img/features-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                @*<h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>
                                <p class="fst-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>*@
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Deep Business Process expertise in leading enterprise packaged solutions like SAP, Oracle Cloud, Workday, Salesforce and others to deliver high value automation solutions with least possible risks for our customers.</li>
                                    @*<li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                                    <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>*@
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/img/features-2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                @*<h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>*@
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Over the period, our practice has grown and now we have consultants with skills on various RPA tools including UiPAth, Automation Anywhere, Blue Prism, Worksoft, etc.</li>
                                    @*<li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>*@
                                </ul>
                                <p class="fst-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/img/features-3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                @*<h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>
                                <p class="fst-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>*@
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Responsive customer service with Flexible operating / Delivery model differentiates SOAIS from competition. </li>
                                    <li><i class="ri-check-double-line"></i>Our ability to mold to customer’s needs in a rapid manner helps them get the best service tailored to their needs.</li>
                                    @*<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>*@
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/img/features-4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->
      